
filelock>=3.4.2,<4
flake8>=4.0.1,<5
black>=21.12b0,<22
mypy>=1.1.1,<2
invoke>=1.6.0,<2
isort>=5.10.1,<6
Sphinx>=4.3.2,<5
m2r2>=0.3.2,<1
autoflake>=1.4,<2
pytest>=6.2.5,<7
pytest-cov>=3.0.0,<4
pytest-asyncio>=0.16.0,<1
pytest-mock>=3.6.1,<4
freezegun>=1.1.0,<2
psutil>=5.8.0,<6
munch-stubs>=0.1.1,<1
types-python-dateutil>=2.8.9,<3
types-pytz>=2021.3.4
types-PyYAML>=6.0.4,<7
types-requests>=2.27.9,<3
types-retry>=0.9.5,<1
types-setuptools>=57.4.9
types-urllib3>=1.26.9,<2
